/* ESTILOS GENERALES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #03000f;
    color: #fdfdfd;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

#particles-js {
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: -1;
}

.contenedor {
    width: 90%;
    max-width: 1000px;
    background-size: cover;
    background-image: url('../img/bg-header3.jpeg');
    background-position: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    padding: 20px 30px;
    position: relative;
    z-index: 99;
    opacity: .85;
}

.contenedor.header {
    border: 3px solid #555555;
    min-height: fit-content;
}

.nav-bar {
    display: flex;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.nav-bar ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.nav-bar li {
    list-style: none;
    display: inline-block;
    margin-bottom: 20px;
}

.nav-bar li img {
    list-style: none;
    display: inline-block;
    margin-right: 100px;
}

.nav-bar li a {
    text-decoration: none;
    color: #fff;
    font-size: 19px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    border-bottom: 1px solid transparent;
    transition: .5s ease;
    margin-right: 50px;
}


.nav-bar a:hover {
    color: #0026f9;
    border-bottom: 1px solid currentcolor;
}

.sobre {
    width: 60%;
    display: flex;
    height: 100%;
    align-items: center;
}

.sobre .titulo {
    text-transform: uppercase;
    letter-spacing: 5px;
}

.sobre .titulo span:first-child {
    font-size: 50px;
    display: block;
    font-weight: 300;
}

.sobre .titulo span:last-child {
    font-size: 70px;
    font-weight: 700;
}

.btn-link {
    display: inline-block;
    font-size: 70px;
    padding: 10px 20px;
    margin: 25px 25px;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    border: 1px solid #555555;
}

.btn-link:hover {
    border: 1px solid #001d84;
    animation: none;
}
.sociais h2 {
    margin: 100px 25px 50px 25px;
    text-align: center;
}

.sociais .botoes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

@keyframes parpadeo {

    0%,
    41%,
    45%,
    47%,
    49.5%,
    100% {
        opacity: 1;
    }

    42%,
    44%,
    46%,
    48%,
    50% {
        opacity: 0;
    }
}

.projetos .card-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.projetos .card-wrapper .card {
    background-color: #000000;
    text-align: center;
    border: 1px solid #565555;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.3);
    padding: 10px;
    width: 250px;
    height: 500px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.projetos .card-wrapper .card h2 {
    font-size: 24px;
    margin: 0 0 10px 0;
    height: 100px;
    overflow: hidden;
}

.projetos .card-wrapper .card img {
    display: block;
    height: 250px;
    /* Defina aqui a altura fixa para a imagem */
    width: 100%;
    /* Para manter a proporção das imagens */
    object-fit: cover;
    /* Redimensiona a imagem para preencher o espaço mantendo a proporção */
    margin-bottom: 10px;
}

.projetos .card-wrapper .card p {
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    height: 140px;
    /* Defina aqui a altura fixa para o texto */
    overflow: hidden;
}

.projetos .card-wrapper .card a {
    display: block;
    font-size: 18px;
    margin-top: 10px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    padding: 10px;
}

.projetos .card-wrapper .card a:hover {
    background-color: #0062cc;
}



.projetos h2 {
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}


.flex-container {
    display: flex;
}

.skills .botes-hab {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


.skills .botes-hab i {
    font-size: 70px;
    margin: 30px 55px 100px 55px;
}

.skills h2 {
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}